
<configuration>
	<appender name="PERF_STDOUT"
    class="ch.qos.logback.core.ConsoleAppender">
      <layout class="ch.qos.logback.classic.PatternLayout">
         <pattern>%date{MM-dd-yyyy},%date{HH:mm:ss.SSS},%X{CONTEXT_ID},%X{TARGET_CLASS_NAME}.%X{TARGET_METHOD_NAME},%msg%n</pattern>
      </layout>
   </appender>
   <root level="debug" name="performance.logger">
      <appender-ref ref="PERF_STDOUT" />
   </root>
</configuration>